.alert-success {
    top: 25px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid gray;
    border-radius: 20px;
}

.alert-danger {
    top: 25px;
    background-color: #f66a6a;
    color: #000000;
    border: 1px solid gray;
    border-radius: 20px;
}