<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid fixed>
 <ion-row>
  <div class="ion-justify-content-center header-text">Fitness Trainers</div>
    <div class="trainers-list">
      
      <ion-item lines="none" detail>
        <div class="thumb">
          <img src="assets/imgs/fitness1.png" />
        </div>
        <ion-col size="6">
        <div class="top">Richard Will</div>
        <div class="middle">High Intensity Training</div>
      </ion-col>
      </ion-item>
    </div>

 </ion-row>
  </ion-grid>
</ion-content>
